## SQL Query

### 1. Show the proportion of customers that signed up because he/she was being referred by other customers, and customers with no referral.

#### Method 1: Using `COUNT()` and simple arithmetic
By default, `COUNT(colname)` does not include NULL values. In contrast, `COUNT(*)` includes NULL values. Therefore, we can use a very simple arithmetic operation to take the proportion between referred and non-referred customers:
```
null_values = COUNT(referralID)
non_null_values = COUNT(*) - null_values
```
<img src='./data/sql_answers/q1.PNG' width=1000 height=1000>

#### Method 2: Using `WHERE` clause
We can also do this by utilizing the `WHERE` clause with multiple `SELECT` statements

<img src='./data/sql_answers/q1_alternate.PNG' width=1000 height=1000>

### 2. Show top 10 customers that gave most referrals.
Customers who gave referrals to other customers have their IDs stored inside the database. We can directly group them according to their IDs and count the referrals.
Then, order it in descending order and limit only for 10 first rows

<img src='./data/sql_answers/q2.PNG' width=1000 height=1000>

### 3. Show top 10 external-customers that contribute the most amount of sales every month. (External-customers mean all customers that do not belong to 'Company123')
To answer this, we must select both `CUSTOMERS` AND `TRANSACTIONS` table to confirm that the registered customers made transactions. This is indicated by the existing customer IDs in both tables. Hence, the statement `where TRANSACTION.CustomerID = CUSTOMERS.CustomerID` exactly does that. Next, we must also filter out external customers (they do not belong to Company123). To do this, we can use `LIKE` and wildcards `%company123%` in the emails column to filter them out.

<img src='./data/sql_answers/q3.PNG' width=1000 height=1000>

### 4. Show customers that transacted in 2019 but not in 2020

### Method 1: If the `dates` column is `DATE`
We can directly use the comparison operator (<, >, <=, >=) to extract dates before 2020.<br>
<b> NOTE: Since there are no transactions in 2019, the result of this query is empty.</b>
<img src='./data/sql_answers/q4_alternate.PNG' width=1000 height=1000>
    
#### Method 2: If the `dates` column is `VARCHAR`
The `VARCHAR` data type is different from the original `DATE` data type. With `VARCHAR`, we can directly use the `LIKE` statement to filter out transactions before the year 2020 (2019 and below)

<img src='./data/sql_answers/q4.PNG' width=1000 height=1000>

### 5. Show the number of customers that transacted one, twice, and more than twice.
To show the number of transactions made by each customer, simply use the `COUNT` aggregate function and group them by the customer ID (Personally, I like to order everything by descending order for aggregate functions like `COUNT` and `SUM` for easier readability purposes).

<img src='./data/sql_answers/q5.PNG' width=1000 height=1000>

## Programming

Build code that has a non-empty array of integers as an input, and then the code should return
the <b><i>n</b></i> most frequent elements from that input.

Example 1:

Input: nums = [3,3,3,3,1,5,5] , n = 2

Output: [5,3]

Example 2:

Input: nums = [4], n=1

Output: [4]

Notes:
- Time complexity must be better than O(n log n), where n is the input size.
- The answer must be unique

Task:
1. Create the solution using python
2. Create unit test for every use case
3. Put step to run the code and test on Readme
4. If you need additional library please use virtualenv
5. Make sure the code and the test are running

In [1]:
from programming_unit_test import UnitTest

def find_n_most_frequent_nums(arr, k, n):
    
    hash_map = {}
    for i in range(k):
        if arr[i] in hash_map:
            hash_map[arr[i]] += 1
        else:
            hash_map[arr[i]] = 1
            
    res = []
    j = 0
    for i in hash_map:
        res.append([i, hash_map[i]])
        j += 1
    
    res = sorted(res, key=lambda x: x[0], reverse=True)
    res = sorted(res, key=lambda x: x[1], reverse=True)
    
    return res

- Approach: Hashmap<br>

Hashmap is a part of collection that stores pairs of 'Key' and 'Value'. In Python, it is widely known as `dict` or dictionary. Unlike arrays and lists in general, to access hashmap, one has to know the key to obtain the value. It utilizes a technique called hashing. Perhaps this method is very popular in terms of digital security where passwords are stored as hashes instead of their original characters.

Algorithm:
1. Create an empty hashmap (H) to store pairs of key(number)-value(frequency).
2. Traverse the input array `arr` from beginning to end.
3. Increase the count by 1 for every number (update `H[arr[i]]++`)
4. Sort the hashmap in descending order
5. Show the first n numbers of the sorted hashmap

Time complexity: O(n log n) where n is the number of unique elements in the array
- Linear search = n
- Sort hashmap using `sorted()` or [Timsort](https://en.wikipedia.org/wiki/Timsort) algorithm = log n

In [8]:
arr = [1,2,-2,-3]
k = len(arr)
n = 3

UnitTest.assert_positive_non_zero_n(n)

answer = []
result = find_n_most_frequent_nums(arr, k, n)
        
UnitTest.case_1(arr, n)
UnitTest.case_2(arr, n)

for i in range(n):
    answer.append(result[i][0])
    
# UnitTest.case_2(answer, n)    
print(answer)

[2, 1, -2]

## Pandas Dataframe

In [9]:
import pandas as pd
import numpy as np

In [39]:
raw_data = pd.read_csv('./data/sample.csv')
num_of_rows = len(raw_data)
print(num_of_rows)
raw_data.head()

20

   Day   Open   High    Low  Close  Volume
0    1  47.04  48.24  47.04  48.15    3509
1    2  48.17  48.89  47.97  48.36    4862
2    3  48.55  49.71  48.52  49.55    1810
3    4  49.55  49.87  48.51  49.41    3824
4    5  49.41  49.96  45.84  46.36    2209

In [20]:
df = raw_data.copy()
high_low_close = df[['High', 'Low', 'Close']]
typical_price = high_low_close.mean(axis=1)
df['Typical Price'] = typical_price
df.head()

   Day   Open   High    Low  Close  Volume  Typical Price
0    1  47.04  48.24  47.04  48.15    3509      47.810000
1    2  48.17  48.89  47.97  48.36    4862      48.406667
2    3  48.55  49.71  48.52  49.55    1810      49.260000
3    4  49.55  49.87  48.51  49.41    3824      49.263333
4    5  49.41  49.96  45.84  46.36    2209      47.386667

In [36]:
typical_price_volume = df[['Volume', 'Typical Price']]
money_flow = []
temp = 0

money_flow.append(0)
for i in range(1, len(typical_price_volume['Typical Price'].values)):
    if typical_price_volume['Typical Price'].loc[i] > typical_price_volume['Typical Price'].loc[i-1]:
        money_flow.append(typical_price_volume['Typical Price'].loc[i] * typical_price_volume['Volume'].loc[i])
    else:
        money_flow.append(-typical_price_volume['Typical Price'].loc[i] * typical_price_volume['Volume'].loc[i])

df['Money Flow'] = money_flow
df.head()

   Day   Open   High    Low  Close  Volume  Typical Price     Money Flow
0    1  47.04  48.24  47.04  48.15    3509      47.810000       0.000000
1    2  48.17  48.89  47.97  48.36    4862      48.406667  235353.213333
2    3  48.55  49.71  48.52  49.55    1810      49.260000   89160.600000
3    4  49.55  49.87  48.51  49.41    3824      49.263333  188382.986667
4    5  49.41  49.96  45.84  46.36    2209      47.386667 -104677.146667

In [35]:
money_flow

[0,
 2314.3227333333334,
 2384.5124,
 2426.7117999999996,
 -2334.4251555555556,
 -2159.568355555556,
 -2023.3040888888888,
 -1942.3541666666667,
 1953.0000000000002,
 -1953.4464000000003,
 1942.2146666666665,
 2004.2033888888889,
 -2006.4612222222224,
 -1923.815222222222,
 -1864.7874333333327,
 -1847.2723,
 1868.431366666667,
 1952.3633888888887,
 2013.911611111111,
 2027.9917666666665]

In [49]:
def sum_money_flow(money_flow, m=2, n=20):
    
    positives = []
    negatives = []
    for i in range(m-1, n):
        if money_flow[i] >= 0:
            positives.append(money_flow[i])
        else:
            negatives.append(money_flow[i])
    
    positive_sum = sum(positives)
    negative_sum = sum(negatives)
    
    return positive_sum, negative_sum

In [51]:
pos, neg = sum_money_flow(money_flow)

In [52]:
money_flow_index = 100 * (pos/neg) / (1+(pos/neg))
money_flow_index

6100.708721181118